
.expense-container{
    text-align: center;
    padding: 40px;
}
  
.expense-tracker {
    max-width: 600px;
    margin: 0 auto;
    background: lightsalmon;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .balance {
    margin-bottom: 20px;
  }
  
  .balance h2 {
    margin: 5px ;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background: purple;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background: purple;
  }
  
  .expense-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 143, 11);
  }
  
  .expense-list button {
    padding: 5px 10px;
    background: #19b413;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
  }
  
  .expense-list button:hover {
    background: red;
  }
  